@media screen { 
body { 
    margin: 0 auto;
    background: #FFFFFF;
    display: block;
    margin-top:100px ;
    width: 100%;}
}
.header {
    max-width:1219px;
    margin: auto;
}

    
header{
    position: fixed;
    z-index: 1000;
    background: url(../images/Rectangle.png);
    background-size: cover;
    top: 0;
    padding: 20px 20px 19px;
    width: 100%;
    }

#prime {
        width: 168px;
        height: 58px;
        }
.textmenu{
    float: right;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding-top: 10px;
    padding-right: 54px;
    } 
a {
    text-decoration: none;
    color: white;}
.pipernet{
    background-image: url(../images/image-8.png);
    background-size: cover;
    width: 1219px;
    height: 403px;
    left: 0px;
    top: 84px;
    margin: auto;
}
.piper{ 
    width: 1219px;
    height: 83px;
    left: 0px;
    top: 244px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    padding-top: 180px;
    color: white;
    width: 1110px;
    margin: 0 auto;}

.prob {
    width: 1219px;
    height: 600px;
    left: 0px;
    top: 487px;
    margin: auto;
}
#problem {font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    padding: 48px 16px 55px 16px;
    
    text-align: center;
    color: #007765;}
.problem {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    padding:3px 54px 92px 55px; }
.hero {
    background-image: url(../images/image-9.png) ;
    background-size: cover;
    width: 1219px;
    height: 550px;
    left: 0px;
    top: 1206px;
    margin: auto;
}
.herotext { 
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    padding: 8px 127px 163px 163px;
    
    color: #FFFFFF;}
.theteam{
    width: 1219px;
    height: 1150px;
    left: 0px;
    top: 2293px;
    margin: auto;
}
.The {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    
    text-align: center;
    
    color: #007765;
    }
.members { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;   
    
}
#Vlad {
    width: 168px;
    height: 168px;
    left: 146px;
    top: 2472px;
    padding: 10px 60px 10px 60px;
    
}
#Lex {
    width: 168px;
    height: 168px;
    left: 526px;
    top: 2472px;
    padding: 10px 60px 10px 60px;
    
}
#Vas {
    width: 168px;
    height: 168px;
    left: 906px;
    top: 2472px;
    padding: 10pxx 60px 10px 60px;
    
}
#Yos {
    width: 168px;
    height: 168px;
    left: 146px;
    top: 2785px;
    padding: 10px 60px 10px 60px;
}
#Mi {
    width: 168px;
    height: 168px;
    left: 526px;
    top: 2785px;
    padding: 10px 60px 10px 60px;
}
#Ivan {
    width: 168px;
    height: 168px;
    left: 906px;
    top: 2785px;
    padding: 10px 60px 10px 60px;
   
}
#Sla {
    width: 168px;
    height: 168px;
    left: 146px;
    top: 3074px;
    padding: 10px 60px 10px 60px;

}
#San {
    width: 168px;
    height: 168px;
    left: 526px;
    top: 3074px;
    padding: 10px 60px 10px 60px;
 
}
#Van {
    width: 168px;
    height: 168px;
    left: 906px;
    top: 3074px;
    padding: 10px 60px 10px 60px;
    
}
.member {
    text-align: center;
    flex-basis: 33%;
    padding: 24px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.member-name {
  margin: 0;
  margin-top: 12px;
  font-weight: 600;
  font-size: 24px;
  color: #007765;}
.member-role {
    font-style: italic;
    font-size: 18px;
  }
footer{ width: 1219px;
    height: 176px;
    left: 0px;
    top: 5000px;
    margin: auto;
    
    background: #333333;}
.contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #FFFFFF;
    align-items: center;
}
.contact {
    padding: 3px ;
}